
<!DOCTYPE html>
<html
  xmlns:th="http//www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title>마이페이지</title>
    <style>
      .mypage-container {
        max-width: 768px;
        margin: auto;
      }

      .silver-hr {
        width: 100%;
        height: 1px;
        background: #a9aeb1;
        margin: 12px 0;
        opacity: 0.4;
      }

      h2 {
        margin-bottom: 0;
      }

      p {
        font-weight: 500;
        padding: 4px 0px;
      }

      .status-icon {
        border-radius: 50%;
        margin-bottom: 8px;
        background-color: rgb(247, 249, 250);
        font-size: 14px;
      }

      .status-process {
        width: 54px;
        height: 1px;
        margin-top: 8px;
        background-color: #a9aeb1;
        position: absolute;
        right: -51px;
      }

      .status {
        display: flex;
        align-items: center;
        color: rgb(141, 146, 151);
        font-weight: 500;
        position: relative;
      }

      .status-icon-active {
        color: royalblue;
        border: 1px solid transparent;
        background-color: lightblue;
        padding: 2px 4px;
        margin-bottom: 4px;
      }

      @keyframes blink-effect {
        50% {
          opacity: 0;
        }
      }

      .blink {
        animation: blink-effect 1s step-end infinite;
      
      }
    </style>
    <script>
      $(document).ready(function () {
        $(".tab").click(function () {
          $(".clicked-background").removeClass("clicked-background");
          $(this).addClass("clicked-background");
        });
        
        $("#contactCancel").on("click", function(){
        	if(confirm('진료를 취소하시겠습니까?'))
       		{
        		 $.ajax({
     				type:"POST",
     				url:"/contactCancel",
     				data:{
     					reservationSeq: $("#reservationSeq").val()
     				},
     				success:function(response)
     				{
     					if(response == 0)
     	                  {
     						alert("진료를 취소하였습니다.");
     						location.href="/mypage-page";
     	                  }
     	                  else if(response == 1)
     	                  {
     	                	  alert("오류 발생");
     	                	  location.href = "/main-page;"
     	                  }
     				},
     				error: function(xhr) 
     				{
     					alert("알 수 없는 오류가 발생했습니다.");
     		        }
               });
       		}
        });
        
      });
      
    </script>
  </head>
  <div layout:fragment="content" class="mypage-container">
    <div class="spacing-height-16"></div>
    <div class="d-flex justify-content-between" style="gap: 32px">
      <div style="padding: 8px; width: 800px">
        <div class="mypage-details">
          <div
            style="
              text-align: center;
              padding: 8px;
            "
          >
            <h3>마이페이지</h3>
          </div>
          <div class="d-flex justify-content-between p-3" style="width:750px">
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500"  th:text="${contactListTotalCount}"></div>
              <div style="cursor: pointer" th:onclick="|location.href='@{contactHistory-page}'|">대면진료내역</div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500" th:text="${contactTotalCount}"></div>
              <div style="cursor: pointer" th:onclick="|location.href='@{medical-history-page}'|">비대면진료내역</div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500" th:text="${reviewTotalCount}"></div>
              <div style="cursor: pointer" th:onclick="|location.href='@{review-detail-page}'|">나의 리뷰내역</div>
            </div>
          </div>

<div th:if="${clinicContact != null}">
          <!-- <div id="nomedical" style="display:none;"> -->
          <div class="silver-hr"></div>
          
          <div class="d-flex justify-content-between align-items-center" >
            <div><h4>진료 신청</h4></div>
            
            <div id="contactCancel" th:if="${clinicContact.reservationStatus != '진료취소'} and ${clinicContact.reservationStatus != '진료완료'}">
              <h6 style="color: red; cursor: pointer">진료 취소</h6>
            </div>
            
          </div>

      
          <div class="spacing-height-16"></div>
          
<div th:if="${clinicContact.reservationStatus != '진료취소'}">          
   		
       <div
         class="status-container d-flex justify-content-center"
         style="gap: 80px" 
       >
          
         <!-- 접수 -->
            <div class="status" style="flex-direction: column" th:if="${clinicContact.reservationStatus == '예약확인'}">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle blink"
                  style="color: royalblue;" 
                ></i>
              </div>
              <div >접수</div>   
              <div class="status-process"
                  style="width: 90px; right: -88px"
               ></div>
            </div>
            
            
            <div class="status" style="flex-direction: column" th:unless="${clinicContact.reservationStatus == '예약확인'}">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                ></i>
              </div>
              <div >접수</div>   
              <div class="status-process"
                  style="width: 90px; right: -88px"
               ></div>
            </div>
            
            
			<!-- 접수완료 -->
            <div class="status" style="flex-direction: column" th:if="${clinicContact.reservationStatus == '예약확정'}">
              <div class="status-icon">
                <i class="fa-solid fa-circle blink"  style="color:royalblue;" ></i>
              </div>
              <div class="status">접수완료</div>   
              <div
                class="status-process"
                style="width: 90px; right: -89px;"
              ></div>
            </div>
            
            
            <div class="status" style="flex-direction: column" th:unless="${clinicContact.reservationStatus == '예약확정'}" >
              <div class="status-icon">
                <i class="fa-solid fa-circle" ></i>
              </div>
              <div class="status">접수완료</div>   
              <div
                class="status-process"
                style="width: 90px; right: -89px"
              ></div>
            </div>
            
            
			<!-- 진료실 입장 -->
            <div class="status" style="flex-direction: column" th:if="${clinicContact.reservationStatus == '진료대기'}" >
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle blink"
                  style="color: royalblue;"
                ></i>
              </div>
              <div>진료실 입장</div>         
              <div
                class="status-process"
                style="width: 90px; right: -73px"
              ></div>
            </div>
            
            
            <div class="status" style="flex-direction: column" th:unless="${clinicContact.reservationStatus == '진료대기'}" >
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                  style="color: rgb(141, 146, 151); 
                           "
                ></i>
              </div>
              <div>진료실 입장</div>         
              <div
                class="status-process"
                style="width: 90px; right: -73px"
              ></div>
            </div>
            
            
            <!-- 종료 -->
            <div class="status" style="flex-direction: column" th:if="${clinicContact.reservationStatus == '진료완료'}">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle blinck"
                  style="color: royalblue"
                ></i>
              </div>
              <div>종료</div>
            </div>
          
          
          <div class="status" style="flex-direction: column" th:unless="${clinicContact.reservationStatus == '진료완료'}">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                  style="color: rgb(141, 146, 151)"
                ></i>
              </div>
              <div>종료</div>
            </div>
            
     </div>
          
          <div class="spacing-height-16"></div>
          
          <div
            style="
              background-color: royalblue;
              border-radius: 8px;
              padding: 16px;
            "
          >
            <div style="color: #fff" >
              &nbsp;&nbsp;<span style="font-weight: 700" th:text="|${clinicContact.reservationDate}  ${clinicContact.reservationTime}분에 진료가
              시작되요|"></span>
            </div>
            <div
              class="d-flex align-items-center p-2"
              style="gap: 16px; color: #fff"
            >
              <div th:text="|@@${clinicContact.clinicName}|"></div>
              <div
                style="width: 1px; height: 10px; background-color: #fff"
              ></div>
              <div th:text="|${clinicContact.clinicDoctor}의사|">
                &nbsp;<i
                  class="fa-solid fa-circle-info"
                  style="color: #ece9e9"
                ></i>
              </div>
            </div>
            
            <div
              class="d-flex justify-content-center align-items-center p-3"
              th:if="${clinicContact.reservationStatus == '진료대기'}"
              style="
                background-color: cornflowerblue;
                color: #fff;
                border-radius: 16px;
                opacity: 0.6;
                cursor:pointer;
                opacity: unset;
              "
              th:onclick="|location.href='@{room-page(reservationSeq=${clinicContact.reservationSeq})}'|"
			  
            >
            <span class="blink">진료실 입장하기</span>
            </div>
            
            <div
              class="d-flex justify-content-center align-items-center p-3"
              th:unless="${clinicContact.reservationStatus == '진료대기'}"
              style="
                background-color: cornflowerblue;
                color: #fff;
                border-radius: 16px;
                opacity: 0.6;
                cursor:pointer;
                pointer-events : none;
              "
              th:onclick="|location.href='@{room-page(reservationSeq=${clinicContact.reservationSeq})}'|"
			  
            ><span>진료실 입장하기</span>
            
            <input type="hidden" id="reservationSeq" th:value="${clinicContact.reservationSeq}" />
            </div>
          </div>
          
</div>
         

         <div style="width:700px; height:150px;     border-radius: 8px; 
                padding: 16px; display: inline; text-align: center;"
                th:unless="${clinicContact.reservationStatus != '진료취소'}"
                >
          <h2>진료신청중이 아닙니다.</h2>
           <div class="spacing-height-16"></div>
            <div class="spacing-height-16"></div>
             <div class="spacing-height-16"></div>
          </div>

</div>      
          
          <div class="silver-hr"></div>

          <div class="p-2 d-flex align-items-center justify-content-between">
            <div>
              <p>회원정보수정</p>
            </div>
            <div style="cursor: pointer" th:onclick="|location.href='@{infoUpdate-page}'|">
              <i 
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
          <div class="p-2 d-flex align-items-center justify-content-between" >
            <div style="cursor: pointer" >
              <p>나의 진료내역</p>
            </div>
            <div style="cursor: pointer">
              <i
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
          <div class="p-2 d-flex align-items-center justify-content-between">
            <div style="cursor: pointer">
              <p>나의 문의내역</p>
            </div>
            <div style="cursor: pointer">
              <i
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
        </div>
        <div class="spacing-height-16"></div>
        <div class="spacing-height-16"></div>
      </div>
    </div>
  </div>
</html>