<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Footer Example</title>
    <style></style>
  </head>
  <body>
    <!-- Footer -->
    <footer th:fragment="footer">
      <div class="footer-container">
        <div class="footer-column" style="flex: 1">
          <h6>토닥토닥</h6>
          <ul>
            <li><a href="#" >회사 소개</a></li>
            <li><a href="#" >팀 문화</a></li>
            <li><a href="#" >서비스 소개</a></li>
            <li><a href="#" th:href="@{/service}">제휴 안내</a></li>
            <li><a href="#" >소식 · 공지</a></li>
            <li><a href="#" 채용 공고</a></li>
          </ul>
        </div>
        <div class="" style="flex: 1">
          <div class="footer-column">
            <h6>서비스</h6>
            <ul>
              <li><a href="#" >실시간 의료상담</a></li>
              <li><a href="#" >건강 매거진</a></li>
              <li><a href="#">병원 찾기</a></li>
              <li><a href="#" >커뮤니티</a></li>
            </ul>
          </div>
          <div class="spacing-height-16"></div>
          <div class="spacing-height-16"></div>
          <div class="footer-column">
            <h6>고객센터</h6>
            <ul>
              <li><a href="#" >채팅 문의 :채널톡</a></li>
              <li><a href="#" >메일로 문의하기</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div style="font-size: 16px">
          <a
            href="https://company.doctornow.co.kr/board/?action=readpost&amp;post_id=1029&amp;bbspaged=2"
            style="margin-right: 16px"
            >개인정보 처리 방침</a
          >
          <a
            href="https://company.doctornow.co.kr/board/?action=readpost&amp;post_id=1028&amp;bbspaged=2"
            style="color: #666"
            >서비스 이용약관</a
          >
        </div>
        <div class="spacing-height-16"></div>
        <div>
          <p style="color: black">(주) 토닥토닥</p>
          <div class="spacing-height-8"></div>
          <p>쌍용강북교육센터 | 사업자 등록 번호 : 000-00-00000</p>
          <p>통신판매업 신고번호 : 2024-서울마포-00000</p>
          <div class="spacing-height-8"></div>
          <p>주소 : 서울특별시 마포구 서교동</p>
          <p>
            <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2798801452"
              >사업자 정보 확인</a
            >
          </p>
        </div>
        <div class="spacing-height-8"></div>
        <p>Copyright 2024. 토닥토닥 Inc. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>