<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/prescription.css">
    <script src="js/jquery-3.6.4.js"></script>
    <script src="js/common.js"></script>
    <title></title>
</head>

<body>
    <div class="wrap">
        <h1>처 방 전</h1>
        <span class="title">※ 국비진료대상자(전액국비부담) 보훈번호(&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;)</span>
        <div class="checkbox">
            <div class="numbox">
                <div class="num">1</div><span class="title">의료보험</span>
            </div>
            <div class="numbox">
                <div class="num">2</div><span class="title">의료보호</span>
            </div>
            <div class="numbox">
                <div class="num">3</div><span class="title">산재보험</span>
            </div>
            <div class="numbox">
                <div class="num">4</div><span class="title">자동차보호</span>
            </div>
            <div class="numbox">
                <div class="num">5</div><span class="title">기타(&emsp;&emsp;&emsp;&emsp;)</span>
            </div>
            <div class="numbox">
                <span class="title">요양기관번호 : </span>
            </div>
        </div>

        <table style="margin-top:10px; font-size:14px;">
            <tr>
                <td class="blnone" colspan="2">교부년월및 번호</td>
                <td style="width:155px;"></td>
                <td rowspan="4" style="width:22px;">의료기관</td>
                <td>명&emsp;&emsp;칭</td>
                <td class="brnone"></td>
            </tr>
            <tr>
                <td class="blnone" rowspan="3" style="width:22px;">환자</td>
                <td style="width:80px;">성 명</td>
                <td></td> 
                <td>전화번호</td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td rowspan="2">주민등록번호</td>
                <td rowspan="2"></td>
                <td>팩스번호</td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td style="width:68px;">E-mail주소</td>
                <td class="brnone"></td>
            </tr>
        </table>

        <table style="font-size:14px;">
            <tr>
                <td class="blnone" style="width:13px;" colspan="2" rowspan="2">질병<br/>분류<br/>기호</td>
                <td style="width:128px; padding:0;">
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div style="height: 38px; width: 24px; float:left;"></div>
                </td>
                <td rowspan="2" style="width:55px;">처 &emsp; 방<br/>의료인의<br/>성 &emsp; 명</td>
                <td class="brnone"></td>
                <td style="width:55px;" class="bbnone">면허종별</td>
                <td style="width:112px;" class="brnone"></td>
            </tr>
            <tr style="height:37px;">
                <td style="width:128px; padding:0;">
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div class="br1" style="height: 38px; width: 25px; float:left;"></div>
                    <div style="height: 38px; width: 24px; float:left;"></div>
                </td>
                <td style="width:112px;"></td>
                <td>면허번호</td>
                <td style="width:112px;" class="brnone">제&emsp;&emsp;&emsp;호</td>
            </tr>
        </table>
        <span style="display:block; margin:5px 0; text-align:center;" class="title">※ 환자의 요구가 있는때에는 질병분류기호를 기재하지 아니합니다.</span>

        <table style="font-size:14px;">
            <tr>  
                <th colspan="2" style="width:215px; border-bottom:2px solid #000;">처 방 의 약 품 의 명 칭</th>
                <th style="width:52px; border-bottom:2px solid #000;">1 회<br/>투약량</th>
                <th style="width:52px; border-bottom:2px solid #000;">1 회<br/>투약회수</th>
                <th style="width:52px; border-bottom:2px solid #000;">총<br/>투약일수</th>
                <th style="border-bottom:2px solid #000;" class="brnone">용&emsp;&emsp;법</th>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="5" style="height:25px;">주사제 처방내역(원내 조제 □, 원외처방 □)</td>
                <td class="brnone">조제시 참고사항</td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td colspan="2" style="height:25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="brnone"></td>
            </tr>
            <tr>  
                <td style="height:25px;">사용기간</td>
                <td style="height:25px;">교대일로부터 (&emsp;&emsp;)일 간</td>
                <td colspan="4" class="brnone">사용기간내에 약국에 제줄하여야 합니다.</td>
            </tr>
        </table>
        <h2 style="display:block; margin:5px 0; text-align:center; font-size:23px;">의&nbsp;약&nbsp;품&emsp;조&nbsp;제&emsp;내&nbsp;역</h2>
        <table>
            <tr>  
                <td rowspan="4" style="width:28px;">조제내역</td>
                <td style="width:100px; height:25px; font-size:14px;">조제기관의 명칭</td>
                <td colspan="2"></td>
                <td class="brnone" style="width: 145px; padding:1px; font-size:14px;">처방의 변경 . 수정 . 확인<br/>대처시 그 내용 등</td>
            </tr>
            <tr>  
                <td style="width:100px; height:25px; font-size:14px;">조 제 약 사</td>
                <td style="width:45px; font-size:14px;">성 명</td>
                <td style="font-size:14px; text-align:right;">(성명 또는 날인)</td>
                <td style="border:0px;"></td>
            </tr>
            <tr>  
                <td style="width:100px; height:25px; font-size:14px;">조제량(조제일수)</td>
                <td colspan="2"></td>
                <td style="border:0px;"></td>
            </tr>
            <tr>  
                <td style="width:100px; height:25px; font-size:14px;">조 제 년 월 일</td>
                <td colspan="2"></td>
                <td style="border:0px; border-bottom:1px solid #000;"></td>
            </tr>
        </table>
    </div>
</body>

</html>