<!DOCTYPE html>
<html
  xmlns:th="http//www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title>과목선택</title>
    <style>
      .select-subject-container {
        max-width: 768px;
        margin: auto;
        width: 100%;
      }

      #lnb-container {
        width: 120px;
		height:450px;
      }

      #lnb-container a:not(.lnb-active) {
        color: black;
        font-size: 18px;
      }

      .lnb-active {
        color:royalblue;
        font-size: 18px;
      }

      .lnb-item {
        padding: 8px;
      }
      .subject-box {
        color: rgb(141, 146, 151);
        background-color: rgb(247, 249, 250);
        width: 100px;
        height: 60px;
        padding: 4px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 13px;
      }
      .row {
        gap: 8px;
        margin-bottom: 12px;
      }
      .filter-sort {
        background-color: rgb(247, 249, 250);
        border-radius: 20px;
        padding: 10px 20px 10px 20px ;
        font-size: 14px;
        color: rgb(141, 146, 151);
        font-weight: 500;
        min-width: 40px;
        text-align: center;
        cursor: pointer;
      }
    </style>
    <script>
      $("#collaspe-btn").click;

      $(document).ready(function () {
        $("#collaspe-btn").click(function () {
          $(this).hide();
        });
      });
      
      function goToList(searchValue) {
    	  window.location.href = "/clinic-contact-category-list?category=1&searchValue="+searchValue+"&clinicNight=&clinicWeekend=&textSearch=";
    	}
      
    </script>
  </head>
  <div layout:fragment="content" class="select-subject-container">
    <div class="spacing-height-16"></div>
    <div class="d-flex" style="gap: 24px">
      <div id="lnb-container">
        <ul class="lnb flex-column">
          <li class="lnb-item">
            <a
              class="lnb-link lnb-active"
              aria-current="page"
              th:href="@{/clinic-contact-subject-page}"
              >병원찾기</a
            >
          </li>
          <li class="lnb-item">
            <a class="lnb-link" th:href="@{/clinic-contact-item-page}">증상찾기</a>
          </li>
          <li class="lnb-item">
            <a class="lnb-link" th:href="@{/clinic-contact-category-list}">병원 리스트</a>
          </li>
        </ul>
      </div>
      <div style="padding: 16px">
	  <div style="display: flex;">
	    <div style="flex: 1;">
	        <h4>병원찾기(대면)</h4>
	    </div>
	
	  </div>
        <div class="spacing-height-16"></div>
        <div style="color: rgb(141, 146, 151)">
          <!-- <h6>병원 예약하고 편하게 방문하세요.</h6> -->
        </div>
        <div><h5>어떤 병원을 찾으세요?</h5></div>
        <div class="spacing-height-16"></div>
        <div>
          <div class="row">
            <div class="col subject-box" th:onclick="goToList(01)" >
				<div>
					<img alt="피부과" src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/피부과.svg"
						width="28" height="28" />
				</div>
              피부과
            </div>
            <div class="col subject-box" th:onclick="goToList(02)">
				<div>
					<img alt="산부인과" src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%89%E1%85%A1%E1%86%AB%E1%84%87%E1%85%AE%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%80%E1%85%AA.svg"
						width="28" height="28" />
				</div>
              산부인과
            </div>
            <div class="col subject-box"  th:onclick="goToList(03)">
              <div>
                <img
                  alt="이비인후과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%8B%E1%85%B5%E1%84%87%E1%85%B5%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%92%E1%85%AE%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              이비인후과
            </div>
            <div class="col subject-box" th:onclick="goToList(04)">
              <div>
                <img
                  alt="내과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%82%E1%85%A2%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              내과
            </div>
            <div class="col subject-box" th:onclick="goToList(05)">
              <div>
                <img
                  alt="안과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/event%20eye.svg"
                  width="28"
                  height="28"
                />
              </div>
              안과
            </div>
            <div class="col subject-box" th:onclick="goToList(06)">
              <div>
                <img
                  alt="가정의학과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%80%E1%85%A1%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%8B%E1%85%B4%E1%84%92%E1%85%A1%E1%86%A8%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              가정의학과
            </div>
          </div>
          <div class="row">
            <div class="col subject-box" th:onclick="goToList(07)">
              <div>
                <img
                  alt="소아과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%89%E1%85%A9%E1%84%8B%E1%85%A1%E1%84%8E%E1%85%A5%E1%86%BC%E1%84%89%E1%85%A9%E1%84%82%E1%85%A7%E1%86%AB%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              소아과
            </div>
            <div class="col subject-box" th:onclick="goToList(08)">
              <div>
                <img
                  alt="정형외과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%92%E1%85%A7%E1%86%BC%E1%84%8B%E1%85%AC%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              정형외과
            </div>
            <div class="col subject-box" th:onclick="goToList(09)">
              <div>
                <img
                  alt="정신건강의학과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%89%E1%85%B5%E1%86%AB%E1%84%80%E1%85%A5%E1%86%AB%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%B4%E1%84%92%E1%85%A1%E1%86%A8%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              정신건강의학과
            </div>
            <div class="col subject-box" th:onclick="goToList(10)">
              <div>
                <img
                  alt="비뇨기과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%87%E1%85%B5%E1%84%82%E1%85%AD%E1%84%80%E1%85%B5%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              비뇨기과
            </div>
            <div class="col subject-box" th:onclick="goToList(11)">
              <div>
                <img
                  alt="치과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%8E%E1%85%B5%E1%84%8B%E1%85%B4%E1%84%92%E1%85%A1%E1%86%A8.svg"
                  width="28"
                  height="28"
                />
              </div>
              치과
            </div>
            <div class="col subject-box" th:onclick="goToList(12)">
              <div>
                <img
                  alt="신경외과"
                  src="https://d2m9duoqjhyhsq.cloudfront.net/face-to-face/department-group/%E1%84%89%E1%85%B5%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC%E1%84%8B%E1%85%AC%E1%84%80%E1%85%AA.svg"
                  width="28"
                  height="28"
                />
              </div>
              신경외과
            </div>
          </div>
          <div class="row" style="margin: 0 auto">
            <div
              class="d-flex justify-content-center align-items-center"
              style="width: 100%"
            >
            </div>
          </div>
        </div>
      </div>
      <div class="spacing-height-16"></div>
      <div class="spacing-height-16"></div>
    </div>
  </div>
</html>
